10krun_2par_01.mat
10krun_2par_1.mat
10krun_samestart_boundfixed_1.mat
10krun_samestart_boundfixed_2.mat
10krun_samestart_boundfixed_3.mat
10krun_samestart_boundfixed_4.mat
10krun_samestart_hess_compare_1.mat
10krun_samestart_hess_compare_2.mat
10krun_samestart_hess_compare_3.mat
10krun_samestart_hess_compare_4.mat
10krun_samestart_hess_compare_5.mat
10krun_samestart_hessonly_2.mat
10krun_samestart_hessonly_3.mat
10krun_samestart_hessonly_4.mat
10krun_samestart_hessonly_5.mat
10krun_samestart_nohess_compare_1.mat
10krun_samestart_nohess_compare_2.mat
10krun_samestart_nohess_compare_3.mat
10krun_samestart_nohess_compare_4.mat
10krun_samestart_nohess_compare_5.mat
1krun_SA.mat
20k_macrun.mat
20krun_10paronly_01.mat
20krun_10paronly_025.mat
20krun_10paronly_1.mat
20krun_10paronly_hess.mat
20krun_18_double.mat
20krun_18_hess.mat
20krun_1paronly_1.mat
20krun_1paronly_2.mat
20krun_2paronly_01.mat
20krun_2paronly_025.mat
20krun_2paronly_1.mat
20krun_2paronly_2.mat
20krun_2paronly_4.mat
20krun_2paronly_hess_01.mat
20krun_2paronly_hess_01_sampling.mat
20krun_2paronly_hess_025.mat
20krun_2paronly_hess_05.mat
20krun_2paronly_hess_1.mat
20krun_allpar_01.mat
20krun_allpar_025.mat
20krun_allpar_05.mat
20krun_allpar_1.mat
20krun_allpar_hess.mat
22-Jul-2010_12.mat
22-Jul-2010_14.mat
23-Jul-2010_1.mat
23-Jul-2010_7.mat
24-Jul-2010_1.mat
24-Jul-2010_13.mat
24-Jul-2010_15.mat
24-Jul-2010_19.mat
24-Jul-2010_4.mat
25-Jul-2010_2.mat
26-Jul-2010_15.mat
26-Jul-2010_3.mat
26-Jul-2010_8.mat
2d_hess.m
2d_parameter_test.m
30-Jun-2010_17.mat
Copy of Fig2data_withStDev_forHoda.xlw
DERIVESTsuite
Fig2data_withStDev_forHoda.xlsx
MH.m
TwoPhase_06_flattenafterfirstdip_avg.m
Untitled1.m
actual_init_data.m
autocov.mat
autom.m
bayesian.m
bayesian_hessian.m
bayesian_nohess.m
bayesian_nohess_075.m
bayesian_randomstart.m
bayesian_randomstart_nohess.m
bayesian_trial_1.mat
bench-25633.txt
bench-25634.txt
bench-25635.txt
bench-25636.txt
bench-25637.txt
bench-25638.txt
bench-25639.txt
bench-25640.txt
bench.sh
benchmark.m
benchmark.txt
boundary_check.m
contour_plots.m
derivest.m
directionaldiff.m
eval_xcov.m
evec_walk.m
evector_slice.m
fake_func.m
fake_function.m
fake_init_data.m
func1.m
gradest.m
graphs.m
hess.mat
hess02-Aug-2010_11.mat
hess_2pardb.mat
hess_par_1.mat
hess_par_10.mat
hess_par_11.mat
hess_par_12.mat
hess_par_13.mat
hess_par_14.mat
hess_par_15.mat
hess_par_16.mat
hess_par_17.mat
hess_par_18.mat
hess_par_19.mat
hess_par_2.mat
hess_par_20.mat
hess_par_21.mat
hess_par_22.mat
hess_par_23.mat
hess_par_3.mat
hess_par_4.mat
hess_par_5.mat
hess_par_6.mat
hess_par_7.mat
hess_par_8.mat
hess_par_9.mat
hess_parallel_nodes.m
hessdiag.m
hessian.m
hessian_10par_debug.m
hessian_2par_debug.m
hessian_division.m
hessian_init_calc.mat
hessian_lkl_old.m
hessian_parallel.m
hessian_parallel_wrapper
hessian_parallel_wrapper.m
hessian_parallel_wrapper.prj
hessian_parallel_wrapper_main.c
hessian_parallel_wrapper_mcc_component_data.c
hessian_sym.m
hessian_test.m
hessianest.m
hessianest_results.mat
hessparoutput.mat
jacobian model original.m
jacobian.m
jacobian_nested.m
jacobian_plot.m
jacobianest.m
julio_parallel_example.m
likelihood_gen.m
likelihood_test.m
linear.m
lkl_evectors.m
lkls_small_large_step.mat
log-20100926T190340.txt
mat files
matlab_metadata.mat
mccExcludedFiles.log
modified_sabrina_code.m
nohess_06-Aug-2010_6.mat
nohess_07-Aug-2010_6.mat
nohess_12-Aug-2010_15.mat
nohess_13-Aug-2010_17.mat
nohup.out
noise.m
obj_fn.m
odes.m
output
parabola.m
plot_dynamics.m
plot_sabrina.m
plot_sabrina2.m
prior_gen.m
prior_stats.m
priors.m
psrf.m
rand_gauss.m
rand_wrapper
rand_wrapper.prj
rand_wrapper_main.c
rand_wrapper_mcc_component_data.c
readme.txt
rndm2.m
run_hessian_parallel_wrapper.sh
run_rand_wrapper.sh
run_test_call.sh
run_test_fcn.sh
sabrina_slope.m
sabrina_slope2.m
sample.m
sigma_gen.m
startup.m
step_generator.m
test.m
test_call
test_call.m
test_call.prj
test_fcn.m
test_viola.mat
typical_par_val.m
values.m
values_conc.m
